$website-width: 1280px;
$main-colour: orangered;
$light-colour: #eee;
$beige-colour: beige;
$dark-colour: #2f2f2f;
$black-colour: #111;
$medium-colour: gold;
$bg-image: url('../images/main.jpg');


// Not used

// @function set-Text-color($color) {
//   @if(lightness($color) > 50) {
//     @return #333;
//   } @else {
//     @return #fff;
//   }
// }