@import 'config';
@import 'utils';

* {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
  background: $beige-colour;
}

a {
  text-decoration: none;
  color: $dark-colour;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#logo {
  font-family: 'Zeyada', cursive;
  font-size: 25px;
  text-transform: uppercase;
  width: 140px;
  height: 70px;
  color: $medium-colour;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
} 

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem
  }
  a {
    text-decoration: none;
    color: $beige-colour;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    transition: border-color 0.5s;
    &:hover {
      border-color: $main-colour;
    }
  }
}

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: $beige-colour;
    .header-content {
      text-align: center;
      padding-top: 20%;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
        color: $main-colour;
        text-shadow: 1px 1px 0 $dark-colour,
                     2px 2px 0 $beige-colour;
      }
    }
  }
  // &-inner {
  // }
}

#home {
  &-a {
    .special-shadow {
      color: $dark-colour;
      text-shadow: none;
    }
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      .fas {
        color: $main-colour;
        padding: 0.4rem
      }
      h3, p {
        color: $dark-colour;
      } 
    }
  }
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      li {
        line-height: 2;
        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-weight: 2rem;
          font-weight: 700;
        }
      }
      div { 
        padding: 3rem 0;
        &:nth-child(odd) {
          color: $beige-colour;
          background-color: $main-colour;
        }  
        &:nth-child(even) {
          background-color: $medium-colour;
        }  
      }
    }
  }
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 15px;
        font-weight: 900;
        background: $medium-colour;
        color: $black-colour;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        line-height: 8px;
        padding: 1rem;
        transition: all 1s;
      }
      &-icon {
        border-radius: 50%;
        background-color: $black-colour;
        color: $main-colour;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;
        &:hover {
          background: $main-colour;
          color: $black-colour;
          width: 90px;
          height: 90px;
          line-height: 90px;
          .process-step {
            background: $black-colour;
            color: $medium-colour;
          }
        }
      }
    }    
  }
}
